header.header
	.header__container
		.header__logo.logo
			svg
				use(xlink:href='@img/icons/icons.svg#svg-logo')
		.header__menu.menu
			button.menu__icon.icon-menu(type='button')
				span
			nav.menu__body
				ul.menu__list
					li.menu__item
						a(href="").menu__link О тренере
					li.menu__item
						a(href="").menu__link Тренировки
					li.menu__item
						a(href="").menu__link Преимущества OnLine
					li.menu__item
						a(href="").menu__link Стоимость
					li.menu__item
						a(href="").menu__link Отзывы

			
