//====================================================================================================
.footer {
	color: #ffffff;
	background-color: $accentColor;
	@include adaptiveValue("padding-top", 69, 28);
	@include adaptiveValue("padding-bottom", 69, 28);
	// .footer__container
	&__container {
		display: grid;
		@media (max-width: $mobile) {
			justify-content: center;
			row-gap: rem(36);
		}
		@media (min-width: $mobile) {
			grid-template-columns: auto 1fr auto;
			align-items: center;
		}
	}
	// .footer__logo
	&__logo {
		@media (min-width: $mobile) {
			grid-column: 2/3;
		}
	}
	// .footer__contacts
	&__contacts {
		@media (min-width: $mobile) {
			grid-column: 1/2;
			grid-row: 1/2;
		}
	}
	// .footer__social
	&__social {
	}
}
.logo-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	a {
		transition: opacity 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 0.6;
			}
		}
	}

	svg {
		width: rem(136);
		height: rem(26);
		margin-bottom: rem(5);

		@media (min-width: $mobile) {
			width: rem(224);
			height: rem(35);
			margin-bottom: rem(8);
		}

		@media (min-width: $tablet) {
			width: rem(241);
			height: rem(38);
		}
	}

	p {
		font-weight: 300;
		line-height: 1.67;

		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 16, 12);
		}
		@media (min-width: $mobile) {
			@include adaptiveValue("font-size", 20, 16);
		}
	}
}
.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	// .contacts__title
	&__title {
		font-weight: 800;
		margin-bottom: rem(8);
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 22, 18);
		}
		@media (min-width: $mobile) {
			font-size: rem(22);
		}
	}

	a {
		font-weight: 300;
		line-height: 1.67;

		transition: opacity 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 0.6;
			}
		}

		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 16, 12);
		}
		@media (min-width: $mobile) {
			@include adaptiveValue("font-size", 20, 16);
		}
	}
}
.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	// .social__title
	&__title {
		font-weight: 800;
		margin-bottom: rem(12);
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 22, 18);
		}
		@media (min-width: $mobile) {
			font-size: rem(22);
		}
	}
	// .social__list
	&__list {
		display: grid;
		grid-template-columns: auto auto auto;
		gap: rem(10);
	}
	// .social__item
	&__item {
	}
	// .social__link
	&__link {
		transition: opacity 0.3s ease 0s;
		svg {
			width: rem(30);
			height: rem(30);

			@media (min-width: $tablet) {
				width: rem(40);
				height: rem(40);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 0.6;
			}
		}
	}
}

//====================================================================================================
